.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  gap: 20px;
  width: 50%;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: calc(100% - 73px);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  overflow: auto;
}
