.container {
  width: min(90vw, 250px);
  margin: 13px 21px;
  flex-grow: 1;
  min-height: 500px;
}

.commentContainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: fit-content(1px) auto;
}

.posterName {
  margin-right: 5px;
  font-weight: 500;
}

.profileImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.scrollableDiv {
  overflow: auto;
  height: calc(100% - 45px);
  margin-top: 10px;
}

.profileImage {
  grid-row-start: 1;
  grid-row-end: 3;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
