.post_input {
  border: none;
  outline: none;
  padding-left: 4%;
  width: 80%;
  height: inherit;
  font-size: 15px;
}

.post_button {
  outline: none;
  border: none;
  background: transparent;
  padding-left: 3%;
  color: #0095f6;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  height: inherit;
}

.comment_input_wrapper {
  outline: 1px solid gray;
  height: 45px;
  margin-bottom: 1px;
}
