body {
  --profilePostSizeFactor: 80;
}

.wrapper {
  width: calc(3.5px * var(--profilePostSizeFactor));
  height: calc(4.5px * var(--profilePostSizeFactor));
  cursor: pointer;
}

.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
