.wrapper {
  width: max(40vw, 250px);
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container {
  display: flex;
  height: calc(80% - 47px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  cursor: pointer;
}

.heading {
  display: flex;
  height: 6vh;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  font-size: 17px;
  font-weight: 600;
  font-family: sans-serif;
}

.image {
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.instruction {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 200;
}
