.wrapper {
  max-width: 70vw;
  max-height: 90vh;
  overflow: auto;
}

.round_border {
  border-radius: 50%;
}

.addPost {
  display: flex;
  flex-direction: column;
  grid-gap: 1px;
  gap: 10px;
}

.addPost > button {
  width: fit-content;
  padding: 6px 43px;
  color: white;
  background: #06f;
  outline: none;
  font-size: 15px;
  border: none;
}
.addPost > * {
  font-family: serif;
}
.footer > p,
.addPost > p {
  font-size: 20px;
  font-family: serif;
}
.addPost > p {
  margin-bottom: 5px;
}
.footer {
  padding: 10px 24px;
}
