body {
  --explorePostSizeFactor: 120;
}

.container {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 30px;
  overflow: hidden;
}

.profile {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  overflow: hidden;
  background-color: blue;
  position: relative;
}
.containerWrapper {
  flex-grow: 1;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proxyBlock {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.head {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 7px 3%;
  padding-bottom: 0;
}

.post {
  display: flex;
  position: relative;
  max-width: calc(3.5px * var(--explorePostSizeFactor));
  height: calc(4.5px * var(--explorePostSizeFactor));
}

.post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_name {
  margin-left: 10px;
  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
}
.footer {
  display: flex;
}

.comment,
.share {
  margin-left: 15px;
}

.post_footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  width: 100%;
}

.footerWrapper {
  margin-left: 15px;
  margin-right: 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}
.name {
  font-weight: 600;
}

.post_time {
  font-size: 10px;
}

.like,
.comment,
.share {
  cursor: pointer;
}

.dummy {
  width: calc(3.5px * var(--explorePostSizeFactor));
  height: calc(4.5px * var(--explorePostSizeFactor));
  background: black;
}

@media screen and (max-width: 525px) {
  .container {
    border-radius: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #b4b2b2;
  }
  .post,
  .post img {
    height: auto;
  }
}
