.container {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 30px;
  overflow: hidden;
}

.profile {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  overflow: hidden;
  background-color: blue;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.head {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 7px 3%;
  padding-bottom: 0;
}

.post,
.post img {
  width: 100%;
  height: 78vh;
  object-fit: cover;
  border-top: 0.1px solid dimgrey;
  border-bottom: 0.1px solid dimgray;
}

.profile_name {
  margin-left: 10px;
  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
}
.footer {
  display: flex;
}

.comment,
.share {
  margin-left: 15px;
}

.post_footer {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;

  padding-top: 15px;
}
.name {
  font-weight: 600;
}

.post_time {
  font-size: 10px;
}

.like,
.comment,
.share {
  cursor: pointer;
}

.like:active,
.comment:active,
.share:active {
  position: relative;
  top: 1px;
}

@media screen and (max-width: 600px) {
  .container {
    border-radius: 0px;
    margin-bottom: 0px;
  }
  .post,
  .post img {
    height: auto;
  }
}
