.bar {
  display: flex;
  background-color: white;
  padding: 18px 6px;
  align-items: center;
  display: flex;
}

.logo {
  margin: auto;
  font-size: 24px;
  margin-left: 25%;
  font-weight: bold;
  font-family: fantasy;
}

.links {
  margin-left: 20px;
  cursor: pointer;
}
.last_link {
  margin-right: 5%;
}

.active {
  border-bottom: 2px solid orange;
}
