body {
  --messagePostSizeFactor: 60;
}

.post {
  width: calc(3.5px * var(--messagePostSizeFactor));
  height: calc(4.5px * var(--messagePostSizeFactor));
  background: black;
  margin: 10px 4px;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
}

.proxyBlock {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
}

.post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  display: flex;
  width: fit-content;
  padding: 10px;

  overflow-wrap: break-word;
  border-radius: 9px;
  margin: 10px 4px;
  background: #4e4351;
}

.myBubble {
  background: #008ff0;
  margin-left: auto;
}
.message {
  max-width: 33vw;
}

.deletePost {
  background: rgb(211, 138, 3);
  padding: 10px 50px;
  overflow-wrap: break-word;
  border-radius: 9px;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.time {
  margin-left: 10px;
  font-size: 10px;
  margin-top: auto;
  margin-bottom: -3px;
}
