.profileImage {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.profileImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileContainer {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  margin: auto 15px;
}

.profileInfo span {
  font-size: 13px;
  font-weight: 700;
}
