.searchContainer {
  position: relative;
  width: max(min(55vh, 270px), 37vw);
  height: min(80vh, 570px);
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  color: white;
}
.searchContainer h2 {
  margin: 0px auto;
  margin-top: 10px;
}

.searchContainer input {
  width: 90%;
  height: min(38px, max(7vh, 30px));
  font-size: 15px;
  outline: none;
  margin: 20px auto;
  margin-top: 25px;
  border-radius: 12px;
  padding: 0 15px;
  outline: none;
  border: none;
}
.searchResultContainer {
  overflow: auto;
}
