.header {
  margin-top: 22px;
  padding: 20px 0px;
}

.wrapper {
  width: 75vw;
  min-width: 580px;
  margin: auto;
  height: calc(100% - 100px);
  overflow: auto;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.profileName {
  margin: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.follow_btn,
.message_btn {
  background: white;
  outline: none;
  border: none;
  padding: 7px;
  font-size: 14px;
  font-family: monospace;
  font-weight: 600;
}
.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: white;
  font-family: monospace;
}
.footer_heading {
  display: flex;
  justify-content: center;
  color: white;
  font-size: larger;
  font-weight: 500;
  font-family: serif;
  border-bottom: 1px solid;
  padding-bottom: 8px;
  margin-bottom: 17px;
  font-size: 24px;
}

.profileImage {
  height: 150px;
  width: 150px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
}

.profileDetail {
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.followDetail {
  display: flex;
  gap: 15px;
}

.profileImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer {
  margin-top: 20px;
}

@media (max-width: 850px) {
  .wrapper {
    min-width: 0px;
  }
}
