.container {
  background: white;
  border-radius: 12px;
  padding: 40px 30px;
  width: 25vw;
  padding-top: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  padding: 10px;
  border-radius: 15px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #57b846;
  font-weight: 600;
  font-size: 17px;
  margin-top: 10px;

  width: 100%;
}
.submitButton:active {
  position: relative;
  top: 1px;
}
