.wrapper {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.profileImage {
  min-width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 0.5px solid;
}
.profileImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  margin: auto 15px;
}

.profileInfo span {
  font-size: 13px;
  font-weight: 700;
}

.btn {
  margin-left: auto;
  outline: none;
  border: none;
  background: #06f;
  font-size: 15px;
  padding: 6px 26px;
  color: white;
}

.disabledBtn {
  background: rgb(49, 125, 240);
}

.disabledBtn:active {
  position: relative;
  top: 0px;
}

@media screen and (max-width: 390px) {
  .btn {
    display: none;
  }
}
