.wrapper {
  overflow: auto;
  width: min(356px, 75vw);
  padding: 16px 20px;
  height: min(60vh, 500px);
  border-top: 1px solid black;
}

.heading {
  font-size: 23px;
  margin: 17px 0;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 500;
}
